*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul *{
 list-style: none;
}

p{
  margin-bottom: 8px;
}

body{
  background-image: url('../src/images/background.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  font-family: 'VT323', monospace;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 30px;
}

.descricao::-webkit-scrollbar {
  width: 1px;
}
 
.descricao::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}
 
.descricao::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.projetos::-webkit-scrollbar {
  width: 1px;
}
 
.projetos::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}
 
.projetos::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.profile-image{
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: #22b2c5 4px solid;

}

.cartao {
  background-color: black;
  width: 350px;
  border: 2px solid #14e2db;
  border-radius: 8px;
  opacity: 90%;
  overflow: hidden;
  height: 510px;
  margin-top: 50px;
}

.minhas-informacoes{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.cargo{
  color: #b8bbc5;
}

.conteudo{
  margin-top: 15px;
}

.abas{
  img{
    height: 30px;
  }

  display: flex;

  :hover{
    transition: 0.2s;
    background-color: #262626;
  }

.aba{
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  cursor: pointer;
  border-radius: 2px;
}

.selecionada{
  background-color: #262626;
}

}

.informacoes-abas{
  background-color: #262626;

  
  .informacao{
    min-height: 260px;
    padding: 15px;
    display: none;
  }
  
  .selecionado{
    display: block;
  }

  .sub-titulo{
    font-size: 25px;
    margin-bottom: 25px;
    text-align: center;
  }

  .descricao{
    font-size: 20px;
    max-height: 180px;
    overflow-y: auto;

    a{
      text-decoration: none;
      margin-left: 30px;
      color: #02d08f;
    }

    span{
      color: #02d08f;
    }
  }

  .redes-sociais{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    max-height: 180px;
    overflow-y: auto;

    li{
      a{
        text-decoration: none;
        color: white;
        display: block;
        width: 250px;
        text-align: center;
        padding: 10px;
        font-size: 20px;
        transition: opacity 0.3s ease-in-out;
        :hover{
          opacity: 0.8;
        }
      }

      .linkedin{
        background-color: rgb(26, 57, 172);
      }
      
      .github{
        background-color: #0f0e0e;
      }

      .curriculum{
        background-color: #217d21;
      }

    }
  }

  .projetos{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    max-height: 180px;
    overflow-y: auto;

    li{
      margin-bottom: 10px;
      a{
        text-decoration: none;
        color: white;
        display: block;
        width: 250px;
        text-align: center;
        padding: 10px;
        font-size: 20px;
        transition: opacity 0.3s ease-in-out;
      }
      
      #login{
        background-color: #0f0e0e;
        &:hover{
          transition: 0.5s;
          background-color: rgb(17, 180, 129);
        }
      }

      #explorer-lab{
        background-color: #0f0e0e;
        &:hover{
          transition: 0.5s;
          background-color: rgb(17, 180, 129);
        }
      }

      #nlw-explorer{
        background-color: #0f0e0e;
        &:hover{
          transition: 0.5s;
          background-color: rgb(17, 180, 129);
        }
      }

      #landingPage{
        background-color: #0f0e0e;
        &:hover{
          transition: 0.5s;
          background-color: rgb(17, 180, 129);
        }
      }

      #oneBitSports{
        background-color: #0f0e0e;
        &:hover{
          transition: 0.5s;
          background-color: rgb(17, 180, 129);
        }
      }
      #petshop{
        background-color: #0f0e0e;
        &:hover{
          transition: 0.5s;
          background-color: rgb(17, 180, 129);
        }
      }



    }
  }

  .projects{
    border: solid 2px rgb(0, 0, 0);

  }
  

}